# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/loginsys

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# GitHub OAuth
GITHUB_ID=your-github-app-id
GITHUB_SECRET=your-github-app-secret

# Google OAuth
GOOGLE_ID=your-google-app-id
GOOGLE_SECRET=your-google-app-secret
